
@font-face {
    font-family: "Gotham";
    src: url("https://code.bildstatic.de/6.15.4-cats-release--20.15/min/targets/bild/xl/assets/fonts/gotham/D7632D565C85109A8.woff2") format('woff');
}

@font-face {
    font-family: "Gotham";
    src: url("https://code.bildstatic.de/6.15.4-cats-release--20.15/min/targets/bild/xl/assets/fonts/gotham/8B8182E2BA0464F45.woff2") format('woff');
}

@font-face {
    font-family: "Gotham";
    src: url("https://code.bildstatic.de/6.15.4-cats-release--20.15/min/targets/bild/xl/assets/fonts/icomoon/icomoon.woff2") format('woff');

}

@font-face {
    font-family: "Gotham";
    src: url("https://code.bildstatic.de/6.15.4-cats-release--20.15/min/targets/bild/xl/assets/fonts/gotham/21A46BAE2B5D0CF5D.woff2") format('woff');
}